* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    min-height: 100%;
}

body {
    height: 100vh;
    background-color: #070c15;
    color: white;
    font-family: 'Nunito', sans-serif;
}

header {
    text-align: left;
    padding: 2vh;
    background-color: #02050c;
    display: flex;
    justify-content: space-between;
    z-index: 99;
}

a {
    color: white;
}

header h1,
header a {
    font-size: 4.0404vh;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
}

#open-page {
    display: none;
}

main {
    display: grid;
    grid-template: 1fr auto 1fr / 1fr auto 1fr;
    height: 91.224vh;
}

main>h2 {
    font-size: 9vh;
}

#board {
    position: relative;
    grid-area: 2 / 2 / 3 / 3;
    width: 72vh;
    height: 72vh;
    border-radius: 1vh;
}

#pieces-move {
    position: relative;
    grid-area: 2 / 2 / 3 / 3;
    width: 72vh;
    height: 72vh;
}

#black-promotion,
#white-promotion {
    position: absolute;
    width: 9vh;
    height: 36vh;
    background-color: rgb(32, 40, 58);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    align-self: center;
    opacity: 0;
    z-index: -100;
    transition: opacity .1s ease-out;
}

#black-promotion img,
#white-promotion img {
    height: 9vh;
    cursor: grab;
}

#game-over>div {
    width: 52.5vh;
    height: 75vh;
    background-color: #02050c;
    border-radius: 2.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}

#game-over h2,
#game-over p {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    user-select: none;
}

#game-over h2 {
    font-size: 5vh;
}

#game-over p {
    color: rgb(181, 181, 181);
}

#game-over {
    z-index: -100;
    grid-area: 1 / 2 / 4 / 3;
    display: flex;
    opacity: 0;
    transition: all .25s ease-out;
    justify-content: center;
}

.piece {
    position: absolute;
    cursor: grab;
    height: 9vh;
    user-select: none;
    z-index: 1;
}

.piece:active {
    cursor: grabbing;
}

[data-square$="1"],
[data-square$="2"],
[data-square$="3"],
[data-square$="4"],
[data-square$="5"],
[data-square$="6"],
[data-square$="7"],
[data-square$="8"] {
    position: absolute;
    width: 12.5%;
    height: 12.5%;
}

[data-square$="1"] {
    top: 87.5%;
}

[data-square$="2"] {
    top: 75%;
}

[data-square$="3"] {
    top: 62.5%;
}

[data-square$="4"] {
    top: 50%;
}

[data-square$="5"] {
    top: 37.5%;
}

[data-square$="6"] {
    top: 25%;
}

[data-square$="7"] {
    top: 12.5%;
}

[data-square$="8"] {
    top: 0;
}

[data-square^="a"] {
    left: 0;
}

[data-square^="b"] {
    left: 12.5%;
}

[data-square^="c"] {
    left: 25%;
}

[data-square^="d"] {
    left: 37.5%;
}

[data-square^="e"] {
    left: 50%;
}

[data-square^="f"] {
    left: 62.5%;
}

[data-square^="g"] {
    left: 75%;
}

[data-square^="h"] {
    left: 87.5%;
}

header {
    position: sticky;
    top: 0vh;
}

.container {
    z-index: 100;
    margin: 1vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#checkbox-menu {
    position: absolute;
    opacity: 0;
}

label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 2.778vh;
    width: 3.788vh;
}

label span {
    position: absolute;
    display: block;
    height: .631vh;
    width: 4.04vh;
    border-radius: 3.788vh;
    background: white;
    transition: .25s ease-in-out;
}

label span:nth-child(1) {
    top: 0.5;
}

label span:nth-child(2) {
    top: 1.5vh;
}

#checkbox-menu:checked+label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 1.01vh;
}

#checkbox-menu:checked+label span:nth-child(2) {
    transform: rotate(45deg);
    top: 1.01vh;
}

nav {
    z-index: 100;
    background-color: #02050c;
    position: fixed;
    height: 91.3vh;
    width: 35vh;
    transition: all 300ms ease;
    right: -35vh;
    top: 8.7vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.opcoes {
    height: 4.177vh;
    width: 20.886vh;
    border-radius: .746vh;
    background-color: #fff;
    padding: .597vh .298vh .597vh .298vh;
    text-align: center;
    font-size: 2.536vh;
    font-weight: bold;
    color: #02050c;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.opcoes a:link, .opcoes a:visited {
    text-decoration: none;
    font-size: medium;
    color: #02050c;
}

.opcoes:hover {
    background-color: rgb(218, 216, 216);
}

#choose-color {
    height: 8vh;
    width: 20.886vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#choose-color p {
    text-align: center;
    font-size: large;
}

#choose-color div {
    display: flex;
    justify-content: space-between;
}

#choose-color span {
    width: 10vh;
    height: 4.177vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.536vh;
    font-weight: bold;
    border-radius: .746vh;
    user-select: none;
    cursor: pointer;
}

[data-color="black"]:hover {
    background-color: #202020;
}

[data-color="white"],
[data-color="black"]:active {
    background-color: white;
    color: #02050c;
}

[data-color="white"]:hover {
    background-color: rgb(218, 216, 216);
}

[data-color="black"],
[data-color="white"]:active {
    background-color: #131313;
    color: white;
}


.aberto {
    right: 0;
}


.pop-up-configuracoes-fechado {
    display: none;
}

.pop-up-configuracoes-aberto {
    position: fixed;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

#configuracoes-janela {
    height: 38vh;
    width: 70vh;
    background-color: #02050c;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 2vh 2vh 0 2vh;
}

#configuracoes-janela .opcoes {
    margin: 2rem;
}

.botoes-cofiguracoes {
    display: flex;
    justify-content: space-around;
    grid-column-start: 1;
    grid-column-end: 3;
}

.temas {
    cursor: pointer;
    border-radius: 1rem;
    margin: 1vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
}

.temas h2 {
    text-align: center;
}

#wood {
    background-image: linear-gradient(to left, rgb(163, 116, 86) 0, rgb(163, 116, 86) 50%, rgb(240, 217, 181) 50%);
}

#blue {
    background-image: linear-gradient(to left, rgb(45, 66, 106) 0, rgb(45, 66, 106) 50%, rgb(132, 146, 172) 50%);
}

#modern {
    background-image: linear-gradient(to left, rgb(73, 73, 72) 0, rgb(73, 73, 72) 50%, rgb(170, 170, 170) 50%);
}

#traditional {
    background-image: linear-gradient(to left, rgb(29, 93, 51) 0, rgb(29, 93, 51) 50%, rgb(233, 227, 219) 50%);
}

/*-----------------------------------*/

#login {
    position: absolute;
    left: 71vh;
    top: 9vh;
    height: 65vh;
    width: 42.7vh;
    background-color: #02050c;
    padding: 10.3vh;
    border-radius: 2.8vh;
    z-index: 99;
}

#login h2 {
    font-size: 6.5vh;
}

#login input {
    height: 4vh;
    width: 37vh;
    border-radius: .75vh;
    color: white;
    background-color: rgb(65, 62, 62);
}

#login input:focus {
    outline: 0.3vh solid white;
}

#login label:first-of-type {
    margin: 5vh 0 3vh 3vh;
}

#login label:nth-of-type(2) {
    margin: 0 0 6vh 3vh;
}

::placeholder {
    font-size: 2.3vh;
    color: white;
}

#login h2:nth-of-type(2) {
    position: relative;
    top: 10vh;
}

#botao-login, #botao-nova-conta, #botao-confirmar {
    position: absolute;
    left: 20vh;
    width: 24vh;
    height: 5vh;
    color: #02050c;
    font-size: 3.2vh;
    border-radius: 0.5vh;
}

#botao-nova-conta {
    top: 60vh;
}

.botoes {
    cursor: pointer;
}

.botoes:hover {
    background-color: rgb(218, 216, 216);
    cursor: pointer;
}

#usuario-novo, #idade-nova, #senha-nova, #senha-confirmacao, #torre-animacao {
    position: fixed;
    transition: 550ms all ease;
}

#usuario-novo {
    left: -100vh;
}

#idade-nova {
    right: -100vh;
}

#senha-nova, #senha-confirmacao {
    top: -100vh;
}

#botao-confirmar {
    position: fixed;
    bottom: -100vh;
}

/*-----------------pagina desenvolvedores------------------------*/
#desenvolvedores-html {
    overflow-y: auto;
    height: auto;
}

#desenvolvedores-html body {
    height: auto;
}

#desenvolvedores-html body::-webkit-scrollbar {
    width: 12px;
}

#desenvolvedores-html body::-webkit-scrollbar-track {
    background: #02050c;
}

#desenvolvedores-html body::-webkit-scrollbar-thumb {
    background-color: white;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #02050c;
    /* creates padding around scroll thumb */
}

#desenvolvedores {
    display: block;
    margin: 5vh 30vh 5vh 30vh;
    height: auto;
}

#desenvolvedores section article {
    padding: 3vh;
}

.conteudo a:nth-child(-n + 3):link,
.conteudo a:nth-child(-n + 3):visited {
    color: rgb(172, 172, 172);
    text-decoration: none;
}

.conteudo a:nth-child(-n + 3):link:hover {
    text-decoration: underline;
}

.titulos {
    background-color: #02050c;
    color: white;
    border-radius: 1vh;
    margin: 3vh;
}

.dev-dados {
    margin: 0 3vh 0 1vh;
    border-right: 0.8vh solid #02050c;
}

.conteudo {
    border: 1.3vh solid #02050c;
    margin: 3vh;
    border-radius: 1vh;
    padding: 1vh;
    display: flex;
}

.conteudo h3 {
    margin: auto 1vh auto 1vh;
}

.conteudo p {
    text-align: justify;
    margin: 0 6vh 0 4vh;
}

.github {
    font-size: small;
    margin-left: 1vh;
    color: rgb(172, 172, 172);
}

.github a:link:hover {
    text-decoration: underline;
}

.github a:visited {
    color: rgb(172, 172, 172);
}

.github a:link {
    color: rgb(172, 172, 172);
    text-decoration: none;
}

.conteudo img {
    height: 20vh;
    border-radius: 50%;
    margin: 0 3vh 3vh 0;
    text-align: left;
}

@media (max-width: 950px) {
    #desenvolvedores {
        display: block;
        padding: 5vw 10vw;
        margin: 0;
        height: auto;
    }

    .conteudo {
        flex-direction: column;
        border: 0.9vh solid #02050c;
    }

    #desenvolvedores section article {
        padding: 1.5vh;
        margin: 3vw 1vw;
    }

    .dev-dados {
        margin: 0 2vw 1vw 2vw;
        display: block;
        text-align: center;
        justify-content: center;
        border-right: none;
        border-bottom: 0.8vh solid #02050c;
    }

    .conteudo h3 {
        margin: auto;
    }

    .conteudo p {
        margin: 0 3vw;
    }

    .conteudo img {
        margin: 0;
    }
}

#torre-animacao {
    height: 10vh;
    width: 10vh;
    top: -10vh;
    right: 10vh;
    transition: 2s all ease;
}

.usuario-informacoes {
    text-align: center;
}

.usuario-informacoes ul {
    list-style: none;
    font-size: large;
}

.usuario-informacoes ul li {
    padding: 0.4vh;
}

.usuario-informacoes ul li:first-child {
    font-size: larger;
    font-family: 'Raleway', sans-serif;
    border-bottom: 0.4vh solid white;
    margin-bottom: 1vh;
}

.usuario-informacoes ul li:nth-child(2) {
    margin-bottom: 0vh;
}

.usuario-informacoes ul {
    margin-bottom: 1vh;
}

.usuario-informacoes table {
    margin-top: 0vh;
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
    border-top: 0.3vh solid white;
}

.usuario-informacoes table td {
    padding: 1vh 3vh;
}

.usuario-informacoes table td:nth-child(odd) {
    border-right: 0.3vh solid white;
}

.usuario-informacoes table tr:nth-child(2) td:nth-child(1) strong {
    color: rgb(0, 185, 0);
}


.usuario-informacoes table tr:nth-child(2) td:nth-child(2) strong {
    color: rgb(212, 3, 3);
}

@media screen and (max-aspect-ratio: 3/4) {
    #board {
        width: 96vw;
        height: 96vw;
    }

    #pieces-move {
        width: 96vw;
        height: 96vw;
    }

    .piece {
        height: 12vw;
    }

    .piece-cpy {
        height: 12vw;
    }

    #black-promotion div,
    #white-promotion div {
        width: 58.5vw;
        height: 13vw;
    }

    #black-promotion img,
    #white-promotion img {
        height: 11.25vw;
    }

    #game-over>div {
        width: 80vw;
        height: 115vw;
        border-radius: 2.5vh;
    }

    #game-over h2 {
        font-size: 7.75vw;
    }

    #game-over p {
        font-size: 3.1vw;
    }

    #configuracoes-janela {
        height: 80vw;
        width: 85vw;
    }

    #game-over .opcoes {
        height: 6.474vw;
        width: 32.333vw;
        border-radius: 1.156vw;
        padding: .925vw .462vw .925vw .462vw;
        font-size: 3.931vw;
    }

    #black-promotion,
    #white-promotion {
        width: 12vw;
        height: 48vw;
    }

    #black-promotion img,
    #white-promotion img {
        height: 12vw;
    }
}
