html {
    min-height: 100%;
    /*overflow: hidden;*/
}

body {
    height: 100vh;
    background-color: #070c15;
    color: white;
    font-family: 'Nunito', sans-serif;
}

header {
    text-align: left;
    padding: 2vh;
    background-color: #02050c;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 4.0404vh;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

#open-page {
    display: none;
}

main {
    display: grid;
    grid-template: 1fr auto 1fr / 1fr auto 1fr;
    height: 91.224vh;
}

main > h2 {
    font-size: 9vh;
}

#board {
    position: relative;
    grid-area: 2 / 2 / 3 / 3;
    width: 60vh;
    height: 60vh;
    border: 1.6vh solid rgb(32, 40, 58);
    border-radius: .5vh;
}

#pieces-move {
    position: relative;
    grid-area: 2 / 2 / 3 / 3;
    left: 1.6vh;
    top: 1.6vh;
    width: 60vh;
    height: 60vh;
}

#pieces-move div img {
    height: 7.5vh;
}

#a1, #b1, #c1, #d1, #e1, #f1, #g1, #h1,
#a2, #b2, #c2, #d2, #e2, #f2, #g2, #h2,
#a3, #b3, #c3, #d3, #e3, #f3, #g3, #h3,
#a4, #b4, #c4, #d4, #e4, #f4, #g4, #h4,
#a5, #b5, #c5, #d5, #e5, #f5, #g5, #h5,
#a6, #b6, #c6, #d6, #e6, #f6, #g6, #h6,
#a7, #b7, #c7, #d7, #e7, #f7, #g7, #h7,
#a8, #b8, #c8, #d8, #e8, #f8, #g8, #h8 {
    position: absolute;
    width: 7.5vh;
    height: 7.5vh;
}

#a1, #b1, #c1, #d1, #e1, #f1, #g1, #h1 { top: 52.5vh; }
#a2, #b2, #c2, #d2, #e2, #f2, #g2, #h2 { top: 45vh;   }
#a3, #b3, #c3, #d3, #e3, #f3, #g3, #h3 { top: 37.5vh; }
#a4, #b4, #c4, #d4, #e4, #f4, #g4, #h4 { top: 30vh;   }
#a5, #b5, #c5, #d5, #e5, #f5, #g5, #h5 { top: 22.5vh; }
#a6, #b6, #c6, #d6, #e6, #f6, #g6, #h6 { top: 15vh;   }
#a7, #b7, #c7, #d7, #e7, #f7, #g7, #h7 { top: 7.5vh;  }
#a8, #b8, #c8, #d8, #e8, #f8, #g8, #h8 { top: 0;      }

#a1, #a2, #a3, #a4, #a5, #a6, #a7, #a8 { right: 52.5vh; }
#b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8 { right: 45vh;   }
#c1, #c2, #c3, #c4, #c5, #c6, #c7, #c8 { right: 37.5vh; }
#d1, #d2, #d3, #d4, #d5, #d6, #d7, #d8 { right: 30vh;   }
#e1, #e2, #e3, #e4, #e5, #e6, #e7, #e8 { right: 22.5vh; }
#f1, #f2, #f3, #f4, #f5, #f6, #f7, #f8 { right: 15vh;   }
#g1, #g2, #g3, #g4, #g5, #g6, #g7, #g8 { right: 7.5vh;  }
#h1, #h2, #h3, #h4, #h5, #h6, #h7, #h8 { right: 0;      }

@media screen and (orientation: portrait) {
    #board {
        width: 90vw;
        height: 90vw;
        border: 1vw solid rgb(32, 40, 58);
    }

    #pieces-move {
        left: 1vw;
        top: 1vw;
        width: 90vw;
        height: 90vw;
    }
    
    #a1, #b1, #c1, #d1, #e1, #f1, #g1, #h1,
    #a2, #b2, #c2, #d2, #e2, #f2, #g2, #h2,
    #a3, #b3, #c3, #d3, #e3, #f3, #g3, #h3,
    #a4, #b4, #c4, #d4, #e4, #f4, #g4, #h4,
    #a5, #b5, #c5, #d5, #e5, #f5, #g5, #h5,
    #a6, #b6, #c6, #d6, #e6, #f6, #g6, #h6,
    #a7, #b7, #c7, #d7, #e7, #f7, #g7, #h7,
    #a8, #b8, #c8, #d8, #e8, #f8, #g8, #h8 {
        position: absolute;
        width: 11.25vw;
        height: 11.25vw;
    }
    
    #a1, #b1, #c1, #d1, #e1, #f1, #g1, #h1 { top: 78.75vw; }
    #a2, #b2, #c2, #d2, #e2, #f2, #g2, #h2 { top: 67.5vw;  }
    #a3, #b3, #c3, #d3, #e3, #f3, #g3, #h3 { top: 56.25vw; }
    #a4, #b4, #c4, #d4, #e4, #f4, #g4, #h4 { top: 45vw;    }
    #a5, #b5, #c5, #d5, #e5, #f5, #g5, #h5 { top: 33.75vw; }
    #a6, #b6, #c6, #d6, #e6, #f6, #g6, #h6 { top: 22.5vw;  }
    #a7, #b7, #c7, #d7, #e7, #f7, #g7, #h7 { top: 11.25vw; }
    #a8, #b8, #c8, #d8, #e8, #f8, #g8, #h8 { top: 0;       }
    
    #a1, #a2, #a3, #a4, #a5, #a6, #a7, #a8 { right: 78.75vw; }
    #b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8 { right: 67.5vw;  }
    #c1, #c2, #c3, #c4, #c5, #c6, #c7, #c8 { right: 56.25vw; }
    #d1, #d2, #d3, #d4, #d5, #d6, #d7, #d8 { right: 45vw;    }
    #e1, #e2, #e3, #e4, #e5, #e6, #e7, #e8 { right: 33.75vw; }
    #f1, #f2, #f3, #f4, #f5, #f6, #f7, #f8 { right: 22.5vw;  }
    #g1, #g2, #g3, #g4, #g5, #g6, #g7, #g8 { right: 11.25vw; }
    #h1, #h2, #h3, #h4, #h5, #h6, #h7, #h8 { right: 0;       }

    #pieces-move div img {
        height: 11.25vw;
    }
}

.container {
    margin: 1vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#checkbox-menu {
    position: absolute;
    opacity: 0;
}

label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 2.778vh;
    width: 3.788vh;
}

label span {
    position: absolute;
    display: block;
    height: .631vh;
    width: 4.04vh;
    border-radius: 3.788vh;
    background: white;
    transition: .25s ease-in-out;
}

label span:nth-child(1) {
    top: 0;
}

label span:nth-child(2) {
    top: 1.01vh;
}

label span:nth-child(3) {
    top: 2.02vh;
}

#checkbox-menu:checked+label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 1.01vh;
}

#checkbox-menu:checked+label span:nth-child(2) {
    opacity: 0;
}

#checkbox-menu:checked+label span:nth-child(3) {
    transform: rotate(45deg);
    top: 1.01vh;
}

nav {
    z-index: 100;
    background-color: #02050c;
    position: fixed;
    height: 91.3vh;
    width: 35vh;
    transition: all 300ms ease;
    right: -35vh;
    top: 8.7vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.opcoes {
    height: 4.177vh;
    width: 20.886vh;
    border-radius: .746vh;
    background-color: #fff;
    padding: .597vh .298vh .597vh .298vh;
    text-align: center;
    font-size: 2.536vh;
    font-weight: bold;
    color: #02050c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aberto {
    right: 0;
}
